In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
import os

dfList = {}

for fileName in os.listdir('merged'):
    print(fileName)

단독다가구 매매.csv
단독다가구 전월세.csv
분양권.csv
상업업무용 매매.csv
아파트 매매.csv
아파트 전월세.csv
연립다세대 매매.csv
연립다세대 전월세.csv
오피스텔 매매.csv
오피스텔 전월세.csv
토지 매매.csv

In [22]:
# df = pd.read_csv('merged/단독다가구 전월세.csv', thousands = ',')
# df['시군구'] + ' ' + df['도로명']
# df = pd.read_csv('merged/단독다가구 전월세.csv', thousands = ',')
# df['시군구'] + ' ' + df['도로명']
df[df['area'] < 80][df['rent'] < 50][df['시군구'].str.split(' ')[0] == '강원도']

<ipython-input-22-d3f8c47d52a2>:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df['area'] < 80][df['rent'] < 50][df['시군구'].str.split(' ')[0] == '강원도']

KeyError: False

In [35]:
df2[df2['시군구'].str.startswith('서울')]

,Unnamed: 0,시군구,주택유형,도로조건,area,대지면적(㎡),yyyymmdd,price,builtyear,도로명,번지,대지면적
64437,64437,서울특별시 강남구 개포동,다가구,8m미만,415.33,180.0,20200313,260000,1991.0,논현로18길,NaN,NaN
64438,64438,서울특별시 강남구 개포동,다가구,12m미만,477.74,219.6,20201121,385000,2003.0,논현로8길,NaN,NaN
64439,64439,서울특별시 강남구 개포동,단독,8m미만,435.09,168.8,20200716,265000,1991.0,논현로6길,NaN,NaN
64440,64440,서울특별시 강남구 개포동,단독,12m미만,467.38,168.9,20200710,250000,1990.0,논현로4길,NaN,NaN
64441,64441,서울특별시 강남구 개포동,단독,8m미만,290.81,214.2,20200402,230000,1989.0,논현로8길,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
291914,182988,서울특별시 강동구 강일동,단독,8m미만,19.83,NaN,20110630,130000,1990.0,아리수로93가길,1*,682.0
291915,182989,서울특별시 강동구 강일동,단독,8m미만,69.42,NaN,20141017,51000,1994.0,아리수로93가길,1**,142.0
291916,182990,서울특별시 강동구 강일동,단독,8m미만,85.95,NaN,20150701,57000,1990.0,아리수로93가길,1*,242.0
291917,182991,서울특별시 강동구 강일동,단독,8m미만,61.00,NaN,20180302,150000,1901.0,아리수로93가길,1**,658.0
291918,182992,서울특별시 강동구 강일동,단독,8m미만,103.86,NaN,20200310,115000,1990.0,아리수로93가길,1*,337.0

In [28]:
# df2 = pd.read_csv('merged/단독다가구 매매.csv', thousands = ',')

C:\Users\김재웅\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

Empty DataFrame
Columns: [Unnamed: 0, 시군구, 주택유형, 도로조건, area, 대지면적(㎡), yyyymmdd, price, builtyear, 도로명, 번지, 대지면적]
Index: []

In [21]:
df

,Unnamed: 0,시군구,단지명,area,price,층,yyyymmdd,분/입구분,builtyear,번지,분입구분
0,0,강원도 강릉시 내곡동,강릉 블루밍 더 베스트,49.9670,19193,18,20200601,분,NaN,NaN,NaN
1,1,강원도 강릉시 내곡동,강릉자이 파인베뉴,94.3894,38800,2,20210201,분,NaN,NaN,NaN
2,2,강원도 강릉시 내곡동,강릉자이 파인베뉴,94.4077,40900,3,20210201,분,NaN,NaN,NaN
3,3,강원도 강릉시 내곡동,강릉자이 파인베뉴,84.9494,34900,3,20210202,분,NaN,NaN,NaN
4,4,강원도 강릉시 내곡동,강릉자이 파인베뉴,94.3894,38600,4,20210202,분,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1259739,1156839,제주특별자치도 서귀포시 안덕면 화순리,서귀포화순코아루푸르나임,84.9455,30300,6,20180205,NaN,2018.0,2133,분
1259740,1156840,제주특별자치도 서귀포시 안덕면 화순리,서귀포화순코아루푸르나임,84.9455,29350,2,20180206,NaN,2018.0,2133,분
1259741,1156841,제주특별자치도 서귀포시 안덕면 화순리,서귀포화순코아루푸르나임,84.9455,27700,1,20180417,NaN,2018.0,2133,분
1259742,1156842,제주특별자치도 서귀포시 안덕면 화순리,산방산어반아르떼,84.8870,45200,1,20190218,NaN,2019.0,2134,분
1259743,1156843,제주특별자치도 서귀포시 안덕면 사계리,산방산 코아루 아이비타운,99.7397,63000,1,20190610,NaN,2019.0,1677,분

In [36]:
df2 = pd.read_csv('merged/단독다가구 전월세.csv', thousands = ',')

C:\Users\김재웅\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (5,11) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Unnamed: 0,시군구,도로조건,area,전월세구분,yyyymmdd,deposit,rent,builtyear,도로명,price,번지
0,0,강원도 강릉시 강동면 안인리,8m미만,79.30,월세,202007.005.0,300.0,40.0,NaN,NaN,NaN,NaN
1,1,강원도 강릉시 강동면 안인리,8m미만,167.62,월세,202005.009.0,2000.0,70.0,2011.0,원장봉길,NaN,NaN
2,2,강원도 강릉시 강동면 안인리,8m미만,167.62,월세,202005.009.0,2000.0,70.0,2011.0,원장봉길,NaN,NaN
3,3,강원도 강릉시 강동면 임곡리,8m미만,45.70,월세,202005.031.0,100.0,10.0,NaN,임곡로,NaN,NaN
4,4,강원도 강릉시 강동면 하시동리,8m미만,50.00,전세,202010.022.0,2500.0,0.0,1998.0,시동길,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4024974,3622733,제주특별자치도 서귀포시 표선면 토산리,8m미만,101.48,전세,20170717,3000.0,0.0,2017.0,NaN,3000.0,1***
4024975,3622734,제주특별자치도 서귀포시 표선면 토산리,8m미만,96.95,전세,20180404,8000.0,0.0,2015.0,일주동로,8000.0,4**
4024976,3622735,제주특별자치도 서귀포시 표선면 토산리,8m미만,66.00,전세,20181008,3000.0,0.0,2018.0,일주동로6496번길,3000.0,4**
4024977,3622736,제주특별자치도 서귀포시 표선면 토산리,-,49.58,전세,20181113,12000.0,0.0,NaN,NaN,12000.0,4**
4024978,3622737,제주특별자치도 서귀포시 표선면 토산리,8m미만,66.00,전세,20181202,3000.0,0.0,2018.0,일주동로6496번길,3000.0,4**

In [39]:
df2[df2['전월세구분'] == '월세'][df2['시군구'].str.startswith('서울')]

<ipython-input-39-17af575f26e3>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df2[df2['전월세구분'] == '월세'][df2['시군구'].str.startswith('서울')]

,Unnamed: 0,시군구,도로조건,area,전월세구분,yyyymmdd,deposit,rent,builtyear,도로명,price,번지
215600,215600,서울특별시 강남구 개포동,12m미만,13.20,월세,202010.030.0,300.0,29.0,1991.0,논현로8길,NaN,NaN
215603,215603,서울특별시 강남구 개포동,-,16.50,월세,202008.001.0,500.0,55.0,1992.0,NaN,NaN,NaN
215604,215604,서울특별시 강남구 개포동,-,16.50,월세,202101.006.0,1000.0,51.0,1992.0,NaN,NaN,NaN
215605,215605,서울특별시 강남구 개포동,8m미만,16.50,월세,202010.009.0,1000.0,40.0,1990.0,개포로15길,NaN,NaN
215606,215606,서울특별시 강남구 개포동,8m미만,16.50,월세,202011.010.0,2000.0,35.0,NaN,개포로15길,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1592350,1190109,서울특별시 강동구 강일동,8m미만,39.00,월세,20120915,300.0,25.0,NaN,아리수로93가길,4050.0,1**
1592355,1190114,서울특별시 강동구 강일동,-,69.00,월세,20141020,4000.0,15.0,NaN,아리수로93가길,6499.0,1**
1592359,1190118,서울특별시 강동구 강일동,8m미만,23.14,월세,20180325,500.0,5.0,NaN,아리수로93가길,1550.0,1**
1592360,1190119,서울특별시 강동구 강일동,8m미만,15.00,월세,20181010,50.0,5.0,NaN,아리수로93가길,1094.0,1**
1592361,1190120,서울특별시 강동구 강일동,8m미만,23.14,월세,20190320,500.0,5.0,NaN,아리수로93가길,1566.0,1**