In [60]:
import pandas as pd
import os

dfList = {}
folderRecent = '추가 실거래가 데이터_최근 1년'

for folder in os.listdir(folderRecent):
    for fileName in os.listdir(folderRecent + '/' + folder):
        dicName = fileName.split('_')[0].split('(')[0] + ' ' + fileName.split('_')[0].split('(')[1][:-1] if '(' in fileName.split('_')[0] else fileName.split('_')[0]
        skiprows = 14 if dicName.startswith('토지') else 15
        tempDf = pd.read_csv(folderRecent + '/' + folder + '/' + fileName, skiprows=skiprows, encoding='ANSI')
        dfList[dicName] = tempDf if dicName not in dfList else pd.concat([dfList[dicName], tempDf])
            
for df in dfList:
    dfList[df].index = range(len(dfList[df].index))

C:\Users\김재웅\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [63]:
# def test(x):
#         if x<10: return '0'
#         else: return ''

# for key in dfList:
#     dfList[key]['계약년월'] = dfList[key]['계약년월'].astype(str) + dfList[key]['계약일'].apply(test) + dfList[key]['계약일'].astype(str)

In [66]:
dfList['아파트 매매']['계약년월']

0         20200229
1         20200229
2         20200304
3         20200304
4         20200309
            ...
832107    20210115
832108    20210118
832109    20210226
832110    20200601
832111    20200819
Name: 계약년월, Length: 832112, dtype: object

In [67]:
newColumns = [['시군구', '번지', '주택유형', '도로조건', 'area', '대지면적(㎡)', 'yyyymmdd', '계약일', 'price', 'builtyear', '도로명', '해제사유발생일'],
['시군구', '번지', '도로조건', 'area', '전월세구분', 'yyyymmdd', '계약일', 'deposit', 'rent', 'builtyear', '도로명'],
['시군구', '번지', '단지명', 'area', 'price', '층', 'yyyymmdd', '계약일', '분/입구분', '해제사유발생일'],
['시군구', '유형', '지번', '도로명', '용도지역', '건축물주용도', '도로조건', 'area', '대지면적(㎡)', '거래금액(만원)', '층', 'yyyymmdd', '계약일', '지분구분', 'builtyear', '해제사유발생일'],
['시군구', '번지', '본번', '부번', '단지명', 'area', 'yyyymmdd', '계약일', 'price', '층', 'builtyear', '도로명', '해제사유발생일'],
['시군구', '번지', '본번', '부번', '단지명', '전월세구분', 'area', 'yyyymmdd', '계약일', 'deposit', 'rent', '층', 'builtyear', '도로명'],
['시군구', '번지', '본번', '부번', '건물명', 'area', '대지권면적(㎡)', 'yyyymmdd', '계약일', 'price', '층', 'builtyear', '도로명', '해제사유발생일'],
['시군구', '번지', '본번', '부번', '건물명', '전월세구분', 'area', 'yyyymmdd', '계약일', 'deposit', 'rent', '층', 'builtyear', '도로명'],
['시군구', '번지', '본번', '부번', '단지명', 'area', 'yyyymmdd', '계약일', 'price', '층', 'builtyear', '도로명', '해제사유발생일'],
['시군구', '번지', '본번', '부번', '단지명', '전월세구분', 'area', 'yyyymmdd', '계약일', 'deposit', 'rent', '층', 'builtyear', '도로명', '건물명'],
['시군구', '번지', '지목', '용도지역', '도로조건', 'yyyymmdd', '계약일', 'area', 'price', '지분구분', '해제사유발생일']]
i = 0

for key in dfList:
    dfList[key].columns = newColumns[i]
    i += 1


# 단독다가구 매매
# 단독다가구 전월세
# 분양권
# 상업업무용 매매
# 아파트 매매
# 아파트 전월세
# 연립다세대 매매
# 연립다세대 전월세
# 오피스텔 매매
# 오피스텔 전월세
# 토지 매매

In [68]:
delCoulumns = ['번지', '본번', '부번', '계약일', '해제사유발생일']

for key in dfList:
    for dc in delCoulumns:
        try:
            del dfList[key][dc]
        except:
            pass

In [69]:
dfList['단독다가구 매매']

,시군구,주택유형,도로조건,area,대지면적(㎡),yyyymmdd,price,builtyear,도로명
0,강원도 강릉시 강동면 모전리,단독,8m미만,158.95,615.0,20201224,"28,414",2017.0,범울재길
1,강원도 강릉시 강동면 상시동리,단독,8m미만,101.88,326.0,20201021,"11,500",2011.0,와천로
2,강원도 강릉시 강동면 상시동리,단독,8m미만,117.70,562.0,20200403,"17,000",2005.0,시동1길
3,강원도 강릉시 강동면 상시동리,단독,8m미만,96.48,579.0,20200618,"16,800",1997.0,독송길
4,강원도 강릉시 강동면 상시동리,단독,8m미만,162.20,670.0,20201216,"25,528",2005.0,와천로
...,...,...,...,...,...,...,...,...,...
108921,충청북도 충주시 호암동,단독,8m미만,134.10,397.0,20210108,"35,000",2017.0,도장관주로
108922,충청북도 충주시 호암동,단독,8m미만,99.02,412.0,20210115,"33,000",2021.0,범바위길
108923,충청북도 충주시 호암동,단독,8m미만,99.02,423.0,20210115,"33,500",2015.0,범바위길
108924,충청북도 충주시 호암동,단독,-,99.57,522.0,20201022,"30,000",2020.0,방아길
108925,충청북도 충주시 호암동,단독,8m미만,97.80,548.0,20201008,"34,500",2014.0,도장관주로

In [71]:
dfList['상업업무용 매매']
# dfList['상업업무용 매매']['계약년월']

,시군구,유형,지번,도로명,용도지역,건축물주용도,도로조건,area,대지면적(㎡),거래금액(만원),층,yyyymmdd,지분구분,builtyear
0,강원도 강릉시 강동면 모전리,일반,7**,윗장작골길,계획관리,제2종근린생활,8m미만,490.04,8323.00,"10,000",NaN,20200730,,1998.0
1,강원도 강릉시 강동면 정동진리,일반,4*,헌화로,계획관리,제1종근린생활,12m미만,98.25,102.00,"17,000",NaN,20200522,,1998.0
2,강원도 강릉시 강동면 정동진리,일반,1*,헌화로,계획관리,제1종근린생활,12m미만,558.55,409.00,"62,000",NaN,20201124,,1999.0
3,강원도 강릉시 강문동,일반,1**,초당순두부길,자연녹지,제2종근린생활,12m미만,63.92,340.00,"66,853",NaN,20200312,,1998.0
4,강원도 강릉시 강문동,집합,*,창해로,계획관리,숙박,12m미만,27.45,,"20,000",14.0,20200411,,2018.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90790,충청북도 충주시 호암동,일반,7**,도장관주로,자연녹지,제2종근린생활,25m미만,268.29,2000.00,"100,000",NaN,20201209,,2006.0
90791,충청북도 충주시 호암동,집합,9**,호암수청2로,제2종일반주거,제1종근린생활,25m미만,95.40,,"34,080",5.0,20201221,,2019.0
90792,충청북도 충주시 호암동,집합,9**,호암수청2로,제2종일반주거,제1종근린생활,25m미만,98.58,,"34,080",5.0,20201221,,2019.0
90793,충청북도 충주시 호암동,일반,4**,도장관주로,자연녹지,제2종근린생활,8m미만,10.00,63.00,"2,630",NaN,20210126,,2020.0
90794,충청북도 충주시 호암동,일반,6**,상아배이길,자연녹지,제1종근린생활,8m미만,59.34,99.00,"15,000",NaN,20210218,,2002.0

In [74]:
dfList.keys()

dict_keys(['단독다가구 매매', '단독다가구 전월세', '분양권', '상업업무용 매매', '아파트 매매', '아파트 전월세', '연립다세대 매매', '연립다세대 전월세', '오피스텔 매매', '오피스텔 전월세', '토지 매매'])

In [75]:
for fileName in os.listdir('pastData'):
    dfList[fileName.split('_')[1]] = pd.concat([dfList[fileName.split('_')[1]], pd.read_csv('pastData/' + fileName, sep='\t' ,encoding='ANSI')])

C:\Users\김재웅\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [77]:
delCoulumns = ['pnu', 'x', 'y', 'count', 'withoutRent']
for key in dfList:
    for dc in delCoulumns:
        del dfList[key][dc]

In [85]:
# for key in dfList:
#     try:
#         dfList[key]['builtyear'] = dfList[key]['builtyear'].astype(int)
#     except:
#         pass
for key in dfList:
    dfList[key].to_csv('merged/' + key + '.csv')

In [37]:
pd.concat([dfList['아파트 매매'], pd.read_csv('pastData/' + '0_아파트 매매_all_reordered.tsv', sep='\t' ,encoding='ANSI')])

C:\Users\김재웅\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,시군구,단지명,area,yyyymmdd,price,층,builtyear,도로명,pnu,x,y,count,withoutRent
0,강원도 강릉시 견소동,송정한신,84.9450,20200229,"16,500",11,1997.0,경강로2539번길 8,NaN,NaN,NaN,NaN,NaN
1,강원도 강릉시 견소동,송정한신,84.9450,20200229,"14,900",5,1997.0,경강로2539번길 8,NaN,NaN,NaN,NaN,NaN
2,강원도 강릉시 견소동,송정한신,84.9300,2020034,"16,300",10,1997.0,경강로2539번길 8,NaN,NaN,NaN,NaN,NaN
3,강원도 강릉시 견소동,송정한신,59.8000,2020034,"10,800",2,1997.0,경강로2539번길 8,NaN,NaN,NaN,NaN,NaN
4,강원도 강릉시 견소동,송정한신,59.8000,2020039,"9,700",1,1997.0,경강로2539번길 8,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8143133,제주특별자치도 서귀포시 표선면 표선리,다움채,80.9348,20181010,27800,2,2017.0,표선관정로 70-11,5013032021116080004,937455.4,1481690.4,15.0,1.0
8143134,제주특별자치도 서귀포시 표선면 표선리,다움채,80.9348,20181122,28300,4,2017.0,표선관정로 70-11,5013032021116080004,937456.0,1481690.0,15.0,1.0
8143135,제주특별자치도 서귀포시 표선면 표선리,다움채,80.9348,20181203,27000,1,2017.0,표선관정로 70-11,5013032021116080004,937455.6,1481690.5,15.0,1.0
8143136,제주특별자치도 서귀포시 표선면 표선리,다움채,132.0305,20170714,48800,6,2017.0,표선관정로 70-11,5013032021116080004,937455.9,1481690.0,15.0,1.0
8143137,제주특별자치도 서귀포시 표선면 표선리,다움채,136.5058,20170714,48800,6,2017.0,표선관정로 70-11,5013032021116080004,937456.5,1481689.6,15.0,1.0

In [ ]:
'pnu	x	y	count	yyyymmdd	area	price	withoutRent	deposit	rent	builtyear', '가 7번 이후'
'pnu	x	y	count	yyyymmdd	area	price	withoutRent	builtyear', '0~6'