In [139]:
import pandas as pd
import numpy as np
import os

In [140]:

dfList = {}
folderRecent = '추가 실거래가 데이터_최근 1년'

for folder in os.listdir(folderRecent):
    for fileName in os.listdir(folderRecent + '/' + folder):
        dicName = fileName.split('_')[0].split('(')[0] + ' ' + fileName.split('_')[0].split('(')[1][:-1] if '(' in fileName.split('_')[0] else fileName.split('_')[0]
        skiprows = 14 if dicName.startswith('토지') else 15
        tempDf = pd.read_csv(folderRecent + '/' + folder + '/' + fileName, skiprows=skiprows, encoding='ANSI')
        dfList[dicName] = tempDf if dicName not in dfList else pd.concat([dfList[dicName], tempDf])
            
for df in dfList:
    dfList[df].index = range(len(dfList[df].index))

C:\Users\김재웅\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [141]:
def test(x):
        if x<10: return '0'
        else: return ''

for key in dfList:
    dfList[key]['계약년월'] = dfList[key]['계약년월'].astype(str) + dfList[key]['계약일'].apply(test) + dfList[key]['계약일'].astype(str)

In [142]:
for key in dfList:
    # if key.endswith('월세'):
    dfList[key]['계약년월'] = dfList[key]['계약년월'].str.replace('\.0','',2)

<ipython-input-142-213c3c01d7fd>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  dfList[key]['계약년월'] = dfList[key]['계약년월'].str.replace('\.0','',2)

In [143]:
for key in dfList:
    print(dfList[key]['계약년월'])

0         20201224
1         20201021
2         20200403
3         20200618
4         20201216
            ...
108921    20210108
108922    20210115
108923    20210115
108924    20201022
108925    20201008
Name: 계약년월, Length: 108926, dtype: object
0         20200705
1         20200509
2         20200509
3         20200531
4         20201022
            ...
402236    20200812
402237    20201108
402238    20200425
402239    20210209
402240    20201123
Name: 계약년월, Length: 402241, dtype: object
0         20200601
1         20210201
2         20210201
3         20210202
4         20210202
            ...
102895    20200818
102896    20200822
102897    20200909
102898    20200401
102899    20200709
Name: 계약년월, Length: 102900, dtype: object
0        20200730
1        20200522
2        20201124
3        20200312
4        20200411
           ...
90790    20201209
90791    20201221
90792    20201221
90793    20210126
90794    20210218
Name: 계약년월, Length: 90795, dtype: object
0         20200229
1         20200229
2         20200304
3         20200304
4         20200309
            ...
832107    20210115
832108    20210118
832109    20210226
832110    20200601
832111    20200819
Name: 계약년월, Length: 832112, dtype: object
0         20200301
1         20200318
2         20200323
3         20200327
4         20200330
            ...
781696    20200619
781697    20200908
781698    20200910
781699    20201016
781700    20201212
Name: 계약년월, Length: 781701, dtype: object
0         20200923
1         20200517
2         20200722
3         20200604
4         20200818
            ...
199645    20201109
199646    20200422
199647    20210118
199648    20210227
199649    20201113
Name: 계약년월, Length: 199650, dtype: object
0         20200620
1         20200620
2         20200318
3         20200605
4         20200423
            ...
208121    20200827
208122    20200305
208123    20200506
208124    20200713
208125    20200730
Name: 계약년월, Length: 208126, dtype: object
0        20200304
1        20200305
2        20200305
3        20200803
4        20200812
           ...
51949    20200826
51950    20200729
51951    20200602
51952    20200602
51953    20200701
Name: 계약년월, Length: 51954, dtype: object
0        20200828
1        20210218
2        20200603
3        20200604
4        20200611
           ...
93927    20200909
93928    20201011
93929    20201203
93930    20201230
93931    20200928
Name: 계약년월, Length: 93932, dtype: object
0         20200229
1         20200229
2         20200229
3         20200229
4         20200229
            ...
708610    20210228
708611    20210228
708612    20210228
708613    20210228
708614    20210228
Name: 계약년월, Length: 708615, dtype: object

In [144]:
dfList['단독다가구 전월세']

,시군구,번지,도로조건,계약면적(㎡),전월세구분,계약년월,계약일,보증금(만원),월세(만원),건축년도,도로명
0,강원도 강릉시 강동면 안인리,5*,8m미만,79.30,월세,20200705,5.0,300,40.0,NaN,NaN
1,강원도 강릉시 강동면 안인리,3**,8m미만,167.62,월세,20200509,9.0,"2,000",70.0,2011.0,원장봉길
2,강원도 강릉시 강동면 안인리,3**,8m미만,167.62,월세,20200509,9.0,"2,000",70.0,2011.0,원장봉길
3,강원도 강릉시 강동면 임곡리,2**,8m미만,45.70,월세,20200531,31.0,100,10.0,NaN,임곡로
4,강원도 강릉시 강동면 하시동리,3**,8m미만,50.00,전세,20201022,22.0,"2,500",0.0,1998.0,시동길
...,...,...,...,...,...,...,...,...,...,...,...
402236,충청북도 충주시 호암동,2**,12m미만,92.00,전세,20200812,12.0,"7,000",0,2003.0,원호암4길
402237,충청북도 충주시 호암동,1**,12m미만,99.52,전세,20201108,8.0,"10,000",0,2013.0,직동길
402238,충청북도 충주시 호암동,1***,25m미만,101.89,전세,20200425,25.0,"15,000",0,2019.0,호암수청8길
402239,충청북도 충주시 호암동,1***,25m미만,122.74,월세,20210209,9.0,"2,000",110,2021.0,호암토성7길
402240,충청북도 충주시 호암동,6*,-,172.00,전세,20201123,23.0,"30,000",0,2020.0,방아길

In [145]:
newColumns = [['시군구', '번지', '주택유형', '도로조건', 'area', '대지면적(㎡)', 'yyyymmdd', '계약일', 'price', 'builtyear', '도로명', '해제사유발생일'],
['시군구', '번지', '도로조건', 'area', '전월세구분', 'yyyymmdd', '계약일', 'deposit', 'rent', 'builtyear', '도로명'],
['시군구', '번지', '단지명', 'area', 'price', '층', 'yyyymmdd', '계약일', '분/입구분', '해제사유발생일'],
['시군구', '유형', '지번', '도로명', '용도지역', '건축물주용도', '도로조건', 'area', '대지면적(㎡)', '거래금액(만원)', '층', 'yyyymmdd', '계약일', '지분구분', 'builtyear', '해제사유발생일'],
['시군구', '번지', '본번', '부번', '단지명', 'area', 'yyyymmdd', '계약일', 'price', '층', 'builtyear', '도로명', '해제사유발생일'],
['시군구', '번지', '본번', '부번', '단지명', '전월세구분', 'area', 'yyyymmdd', '계약일', 'deposit', 'rent', '층', 'builtyear', '도로명'],
['시군구', '번지', '본번', '부번', '건물명', 'area', '대지권면적(㎡)', 'yyyymmdd', '계약일', 'price', '층', 'builtyear', '도로명', '해제사유발생일'],
['시군구', '번지', '본번', '부번', '건물명', '전월세구분', 'area', 'yyyymmdd', '계약일', 'deposit', 'rent', '층', 'builtyear', '도로명'],
['시군구', '번지', '본번', '부번', '단지명', 'area', 'yyyymmdd', '계약일', 'price', '층', 'builtyear', '도로명', '해제사유발생일'],
['시군구', '번지', '본번', '부번', '단지명', '전월세구분', 'area', 'yyyymmdd', '계약일', 'deposit', 'rent', '층', 'builtyear', '도로명', '건물명'],
['시군구', '번지', '지목', '용도지역', '도로조건', 'yyyymmdd', '계약일', 'area', 'price', '지분구분', '해제사유발생일']]
i = 0

for key in dfList:
    dfList[key].columns = newColumns[i]
    i += 1


# 단독다가구 매매
# 단독다가구 전월세
# 분양권
# 상업업무용 매매
# 아파트 매매
# 아파트 전월세
# 연립다세대 매매
# 연립다세대 전월세
# 오피스텔 매매
# 오피스텔 전월세
# 토지 매매

In [146]:
delCoulumns = ['본번', '부번', '계약일', '해제사유발생일']

for key in dfList:
    for dc in delCoulumns:
        try:
            del dfList[key][dc]
        except:
            pass

In [147]:
dfList['단독다가구 전월세']

,시군구,번지,도로조건,area,전월세구분,yyyymmdd,deposit,rent,builtyear,도로명
0,강원도 강릉시 강동면 안인리,5*,8m미만,79.30,월세,20200705,300,40.0,NaN,NaN
1,강원도 강릉시 강동면 안인리,3**,8m미만,167.62,월세,20200509,"2,000",70.0,2011.0,원장봉길
2,강원도 강릉시 강동면 안인리,3**,8m미만,167.62,월세,20200509,"2,000",70.0,2011.0,원장봉길
3,강원도 강릉시 강동면 임곡리,2**,8m미만,45.70,월세,20200531,100,10.0,NaN,임곡로
4,강원도 강릉시 강동면 하시동리,3**,8m미만,50.00,전세,20201022,"2,500",0.0,1998.0,시동길
...,...,...,...,...,...,...,...,...,...,...
402236,충청북도 충주시 호암동,2**,12m미만,92.00,전세,20200812,"7,000",0,2003.0,원호암4길
402237,충청북도 충주시 호암동,1**,12m미만,99.52,전세,20201108,"10,000",0,2013.0,직동길
402238,충청북도 충주시 호암동,1***,25m미만,101.89,전세,20200425,"15,000",0,2019.0,호암수청8길
402239,충청북도 충주시 호암동,1***,25m미만,122.74,월세,20210209,"2,000",110,2021.0,호암토성7길
402240,충청북도 충주시 호암동,6*,-,172.00,전세,20201123,"30,000",0,2020.0,방아길

In [62]:
for key in dfList:
    if key.endswith('전월세'):
        print(key)
        print(dfList[key])

단독다가구 전월세
                     시군구   도로조건    area 전월세구분  yyyymmdd deposit  rent  \
0        강원도 강릉시 강동면 안인리   8m미만   79.30    월세  20200705     300  40.0
1        강원도 강릉시 강동면 안인리   8m미만  167.62    월세  20200509   2,000  70.0
2        강원도 강릉시 강동면 안인리   8m미만  167.62    월세  20200509   2,000  70.0
3        강원도 강릉시 강동면 임곡리   8m미만   45.70    월세  20200531     100  10.0
4       강원도 강릉시 강동면 하시동리   8m미만   50.00    전세  20201022   2,500   0.0
...                  ...    ...     ...   ...       ...     ...   ...
402236      충청북도 충주시 호암동  12m미만   92.00    전세  20200812   7,000     0
402237      충청북도 충주시 호암동  12m미만   99.52    전세  20201108  10,000     0
402238      충청북도 충주시 호암동  25m미만  101.89    전세  20200425  15,000     0
402239      충청북도 충주시 호암동  25m미만  122.74    월세  20210209   2,000   110
402240      충청북도 충주시 호암동      -  172.00    전세  20201123  30,000     0

        builtyear     도로명
0             NaN     NaN
1          2011.0    원장봉길
2          2011.0    원장봉길
3             NaN     임곡로
4          1998.0     시동길
...           ...     ...
402236     2003.0   원호암4길
402237     2013.0     직동길
402238     2019.0  호암수청8길
402239     2021.0  호암토성7길
402240     2020.0     방아길

[402241 rows x 9 columns]
아파트 전월세
                 시군구         단지명 전월세구분    area  yyyymmdd deposit rent   층  \
0        강원도 강릉시 견소동        송정한신    월세  39.080  20200301     500   40  13
1        강원도 강릉시 견소동        송정한신    월세  59.800  20200318   1,000   50   1
2        강원도 강릉시 견소동        송정한신    전세  59.800  20200323  11,000    0  15
3        강원도 강릉시 견소동        송정한신    전세  84.945  20200327  14,000    0  10
4        강원도 강릉시 견소동        송정한신    전세  59.800  20200330  12,000    0   9
...              ...         ...   ...     ...       ...     ...  ...  ..
781696  충청북도 충주시 호암동  호암리버빌(1단지)    전세  84.680  20200619  12,000    0   8
781697  충청북도 충주시 호암동  호암리버빌(1단지)    전세  84.680  20200908  12,000    0  14
781698  충청북도 충주시 호암동  호암리버빌(1단지)    전세  84.680  20200910  14,000    0  10
781699  충청북도 충주시 호암동  호암리버빌(1단지)    월세  84.680  20201016   1,000   50  13
781700  충청북도 충주시 호암동  호암리버빌(1단지)    전세  84.680  20201212  13,000    0   1

        builtyear          도로명
0            1997  경강로2539번길 8
1            1997  경강로2539번길 8
2            1997  경강로2539번길 8
3            1997  경강로2539번길 8
4            1997  경강로2539번길 8
...           ...          ...
781696       2002     원호암5길 32
781697       2002     원호암5길 32
781698       2002     원호암5길 32
781699       2002     원호암5길 32
781700       2002     원호암5길 32

[781701 rows x 10 columns]
연립다세대 전월세
                 시군구       건물명 전월세구분    area  yyyymmdd deposit rent    층  \
0         강원도 강릉시 교동        교동    월세  74.595  20200620   1,000   35  2.0
1         강원도 강릉시 교동      교동맨션    전세  84.240  20200620  12,000    0  2.0
2         강원도 강릉시 교동        대동    전세  53.230  20200318   2,800    0  1.0
3         강원도 강릉시 교동        대동    월세  53.230  20200605   5,000   10  2.0
4         강원도 강릉시 교동        이화    월세  56.790  20200423     500   45  2.0
...              ...       ...   ...     ...       ...     ...  ...  ...
208121  충청북도 충주시 호암동    삼익캐슬2동    전세  72.810  20200827   8,500    0  3.0
208122  충청북도 충주시 호암동  삼익캐슬4,5동    전세  66.190  20200305   8,000    0  4.0
208123  충청북도 충주시 호암동     스타팰리스    월세  63.150  20200506     500   45  1.0
208124  충청북도 충주시 호암동   청실빌라(다)    전세  58.350  20200713   6,000    0  3.0
208125  충청북도 충주시 호암동   청실빌라(다)    전세  58.350  20200730   4,000    0  1.0

        builtyear           도로명
0          1982.0    율곡로 2912-1
1          1984.0     원대로8번길 42
2          1983.0       옛강일길 30
3          1983.0       옛강일길 30
4          1984.0  율곡로2968번안길 2
...           ...           ...
208121     2011.0    호암대로 130-2
208122     2011.0   호암중앙1로 44-1
208123     2020.0        방아길 47
208124     1993.0        거룡1길 1
208125     1993.0        거룡1길 1

[208126 rows x 10 columns]
오피스텔 전월세
                시군구        단지명 전월세구분   area  yyyymmdd deposit  rent     층  \
0        강원도 강릉시 교동   (1883-6)    월세  33.54  20200828     500  65.0   9.0
1        강원도 강릉시 교동   (1883-6)    월세  32.99  20210218     500  60.0   9.0
2        강원도 강릉시 교동    강릉역 블루핀    전세  22.00  20200603   8,000   0.0   9.0
3        강원도 강릉시 교동    강릉역 블루핀    전세  22.00  20200604   8,000   0.0  15.0
4        강원도 강릉시 교동    강릉역 블루핀    전세  22.00  20200611   8,000   0.0   5.0
...             ...        ...   ...    ...       ...     ...   ...   ...
93927  충청북도 충주시 연수동  충주센트럴푸르지오    전세  47.88  20200909  12,500   0.0  25.0
93928  충청북도 충주시 연수동  충주센트럴푸르지오    전세  47.88  20201011  10,000   0.0  27.0
93929  충청북도 충주시 연수동  충주센트럴푸르지오    월세  47.88  20201203   2,000  55.0  11.0
93930  충청북도 충주시 연수동  충주센트럴푸르지오    전세  47.88  20201230  15,000   0.0  21.0
93931  충청북도 충주시 충의동   \t(28)\t    월세  57.60  20200928   2,000  15.0   3.0

       builtyear        도로명  건물명
0         2019.0  솔올로5번길 47  NaN
1         2019.0  솔올로5번길 47  NaN
2         2020.0   강릉대로 285  NaN
3         2020.0   강릉대로 285  NaN
4         2020.0   강릉대로 285  NaN
...          ...        ...  ...
93927     2018.0             NaN
93928     2018.0             NaN
93929     2018.0             NaN
93930     2018.0             NaN
93931     1981.0   충인8길 7-1  NaN

[93932 rows x 11 columns]

In [148]:
for fileName in os.listdir('pastData'):
    dfList[fileName.split('_')[1]] = pd.concat([dfList[fileName.split('_')[1]], pd.read_csv('pastData/' + fileName, sep='\t' ,encoding='ANSI')])

C:\Users\김재웅\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [150]:
for key in dfList:
    dfList[key].to_csv('merged/' + key + '.csv')